@model SubjectDto
@{
    ViewData["Title"] = "vSubjectDet";
}

<div class="row">
    @if (TempData["Error"] != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            @Html.Raw(TempData["Error"])
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <br />
    <div class="col-1">
        <a asp-action="vSubjectIni" asp-controller="Subject" class="btn btn-warning btn-sm">Go Back</a>
    </div>
    
</div>
<br />
<div class="row">

    <div class="col-5">
        <div class="card">
            <div class="card-header">
                @ViewBag.Accion
            </div>
            <div class="card-body">

                <form asp-action="Savechanges" asp-controller="Subject" method="post">

                    <input id="Code" type="hidden" asp-for="Code" />

                    <div class="mb-2">
                        <label class="form-label">Name</label>
                        <input type="text" class="form-control form-control-sm" asp-for="Name" required />
                    </div>

                    <div class="mb-2">
                        <label class="form-label">Credits</label>
                        <input type="text" class="form-control form-control-sm" asp-for="Credits" required />
                    </div>

                    <button type="submit" class="btn btn-success btn-sm">Save Changes</button>
                </form>
            </div>
        </div>
    </div>

</div>

